.card {
 padding:1rem;
}

.card-container{
 display: flex;
 flex-direction: row;
}

select {
    font-size: 18px; /* Adjust the font size as desired */
    padding: 8px;   /* Adjust the padding as desired */
}

.cardArt{
    width: 248px;
    height: 362px;
    padding-top: 10px;
    padding-bottom: 10px;
}